.heading-incumbent{
    background-color: #3751FF;
    color: #fff;
    padding: 5px;
}
.coloum-background{
    background-color: #F4F6F8;
}
.inner-heading{
    background-color: #fff;
    margin: 12px;
    padding-top: 5px;
    padding-left: 5px;
}